@import "tailwindcss";

@theme {
  --color-background: #090117;
  --color-primary: #fc7ebf;
  --color-foreground: #ffffff;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply font-sans antialiased;
  }
}
